@font-face {
    font-family: 'Danzig';
    src: url('giant_gila-webfont.eot');
    src: url('giant_gila-webfont.eot?#iefix') format('eot'),
         url('giant_gila-webfont.woff') format('woff'),
         url('giant_gila-webfont.ttf') format('truetype'),
         url('giant_gila-webfont.svg#webfontPFzWzLCi') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

h1,a,a:visited {
    color: #BE2137;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    text-shadow: 2px 2px 2px #8F3642;
    font-size: clamp(32px, 10vw, 64px);
    text-align: center;
    margin-bottom: 0;
}

#content, #footer {
    text-align: center;
}

p#phrase, div#footer { margin: 1em; }

p#phrase { font-weight: bold; }

#days_since {
    font-size: 24px;
    margin: 0;
}

#days_count {
    font-size: clamp(80px, 20vw, 256px);
    text-shadow: 4px 4px 4px #808080;
}

a span.danzig, a:visited span.danzig {
    font-family: 'Danzig', Arial, sans-serif;
}

#logo-image {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

#bottom-nav {
    text-align: center;
    margin: 2em 0 1em 0;
    padding: 1em 0;
    border-top: 2px solid #BE2137;
}

#bottom-nav a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5em 1em;
    display: inline-block;
}

#bottom-nav a:hover {
    text-decoration: underline;
}
