body {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

p { margin: 0; padding: 0; }

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 0;
}

#content {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

#days_since {
    font-size: 24px;
    margin: 0;
}

#days_count {
    font-size: 256px;
}